@font-face {
font-family: 'netmarbleB';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
font-weight: normal;
font-style: normal;
}

::selection{
background: #242836;
color: white;
}
::-moz-selection{
background: #242836;
color: white;
}

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Malgun Gothic', 'Open Sans', 'Helvetica Neue', sans-serif;
background: #242836;
min-height: 100vh;
padding: 50px;
padding-top: 0;
}

body, .content-wrapper {
font-size: x-large;
font-weight: 500;
}

.content-wrapper, form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;
}


.down-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.txt-wrapper{
    padding-top: 50px;
}

.footer{
    padding-top: 50px;
}

.subscribe-box{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.twitter, .youtube, .email{
    margin-left: 10px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background: rgb(0, 153, 235);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dl-button, .btn {
    --duration: 4000;
    --success: #16BF78;
    --grey-light: #99A3BA;
    --grey: #6C7486;
    --grey-dark: #3F4656;
    --light: #CDD9ED;
    --shadow: rgba(18, 22, 33, .6);
    --shadow-dark: rgba(18, 22, 33, .85);
    display: block;
    text-decoration: none;
    perspective: 500px;
}
.dl-button > div, .btn {
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    padding: 15.6px 24px;
    padding-right: 0;
}
.btn{
    background: white;
    border: 0;
    padding: 19px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.dl-button > div{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dl-button > div .icon {
--color: var(--grey);
position: relative;
transform: translateZ(8px);
}
.dl-button > div .icon div {
overflow: hidden;
position: relative;
width: 20px;
height: 22px;
}
.dl-button > div .icon div:before, .dl-button > div .icon div:after {
content: "";
position: absolute;
width: 2px;
height: 2px;
top: 2px;
transition: opacity 0.3s ease;
}
.dl-button > div .icon div:before {
left: 6px;
background-image: radial-gradient(circle at 0 100%, var(--color) 2px, #fff 0px);
}
.dl-button > div .icon div:after {
right: 6px;
background-image: radial-gradient(circle at 100% 100%, var(--color) 2px, #fff 0px);
}
.dl-button > div .icon div svg {
width: 20px;
height: 18px;
display: block;
margin-top: 2px;
position: relative;
z-index: 1;
}
.dl-button > div .icon div svg.arrow {
color: #fff;
position: absolute;
left: 0;
top: 0;
z-index: 2;
transform: translateY(-1px);
}
.dl-button > div .icon div svg.shape {
color: var(--color);
transition: color 0.4s ease;
}
.dl-button > div .icon span {
--s: 1;
position: absolute;
left: 1px;
right: 1px;
bottom: 2px;
background: var(--color);
height: 6px;
border-radius: 50%;
display: block;
transform: translateY(0) scale(var(--s));
}

* {
box-sizing: inherit;
}
*:before, *:after {
box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
.edit-window {
width: 800px;
height: 200px;
background: #fafbfc;
border-radius: 5px;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.window-border {
display: flex;
top: 0;
height: 50px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background: #e6e9ed;
}

.window-border .close,
.window-border .minimize,
.window-border .maximize {
top: 17px;
left: 10px;
}
.window-border .close {
position: relative;
width: 15px;
height: 15px;
border-radius: 28px;
background: #ed5565;
}
.window-border .minimize {
position: relative;
margin-left: 8px;
width: 15px;
height: 15px;
border-radius: 28px;
background: #ffce54;
}
.window-border .maximize {
position: relative;
margin-left: 8px;
width: 15px;
height: 15px;
border-radius: 28px;
background: #48cfad;
}

.input-area {
position: relative;
outline: none;
}

.textarea {
position: absolute;
display: inline-block;

padding: 0;
padding-left: 20px;
padding-right: 20px;
width: 95%;
height: 150px;

z-index: 3;
margin: 0;
background: none;
border: none;
border-radius: 0;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

font-family: 'netmarbleB' !important;
font-size: xx-large;
font-weight: bolder;
}

.textarea{
resize: none;
}
.pointer {
color: #333;
}