<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', path='/favicon.ico')}}">
    <link href="{{url_for('static', path='/style.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="{{url_for('static', path='/script.js')}}"></script>
    <script>function chkCharCode(event) {
      const regExp = /[^가-힣\s]/g;
      const ele = event.target;
      if (regExp.test(ele.value)) {
        ele.value = ele.value.replace(regExp, '');
      }
    };</script>
    <title>TTS</title>
  </head>
  <body>
    <div class="wave">
      <svg id="wave" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 38.05">
        <path id="Line_1" data-name="Line 1" d="M0.91,15L0.78,15A1,1,0,0,0,0,16v6a1,1,0,1,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H0.91Z"/>
        <path id="Line_2" data-name="Line 2" d="M6.91,9L6.78,9A1,1,0,0,0,6,10V28a1,1,0,1,0,2,0s0,0,0,0V10A1,1,0,0,0,7,9H6.91Z"/>
        <path id="Line_3" data-name="Line 3" d="M12.91,0L12.78,0A1,1,0,0,0,12,1V37a1,1,0,1,0,2,0s0,0,0,0V1a1,1,0,0,0-1-1H12.91Z"/>
        <path id="Line_4" data-name="Line 4" d="M18.91,10l-0.12,0A1,1,0,0,0,18,11V27a1,1,0,1,0,2,0s0,0,0,0V11a1,1,0,0,0-1-1H18.91Z"/>
        <path id="Line_5" data-name="Line 5" d="M24.91,15l-0.12,0A1,1,0,0,0,24,16v6a1,1,0,0,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H24.91Z"/>
        <path id="Line_6" data-name="Line 6" d="M30.91,10l-0.12,0A1,1,0,0,0,30,11V27a1,1,0,1,0,2,0s0,0,0,0V11a1,1,0,0,0-1-1H30.91Z"/>
        <path id="Line_7" data-name="Line 7" d="M36.91,0L36.78,0A1,1,0,0,0,36,1V37a1,1,0,1,0,2,0s0,0,0,0V1a1,1,0,0,0-1-1H36.91Z"/>
        <path id="Line_8" data-name="Line 8" d="M42.91,9L42.78,9A1,1,0,0,0,42,10V28a1,1,0,1,0,2,0s0,0,0,0V10a1,1,0,0,0-1-1H42.91Z"/>
        <path id="Line_9" data-name="Line 9" d="M48.91,15l-0.12,0A1,1,0,0,0,48,16v6a1,1,0,1,0,2,0s0,0,0,0V16a1,1,0,0,0-1-1H48.91Z"/>
      </svg>
    </div>

    <div class="content-wrapper">
        <form method="post">
          <div class="down-btn">
            <a class="dl-button">
            <div>
                <div class="icon">
                <div>
                    <svg class="arrow" viewBox="0 0 20 18" fill="currentColor">
                    <polygon points="8 0 12 0 12 9 15 9 10 14 5 9 8 9"></polygon>
                    </svg>
                    <svg class="shape" viewBox="0 0 20 18" fill="currentColor">
                    <path d="M4.82668561,0 L15.1733144,0 C16.0590479,0 16.8392841,0.582583769 17.0909106,1.43182334 L19.7391982,10.369794 C19.9108349,10.9490677 19.9490212,11.5596963 19.8508905,12.1558403 L19.1646343,16.3248465 C19.0055906,17.2910371 18.1703851,18 17.191192,18 L2.80880804,18 C1.82961488,18 0.994409401,17.2910371 0.835365676,16.3248465 L0.149109507,12.1558403 C0.0509788145,11.5596963 0.0891651114,10.9490677 0.260801785,10.369794 L2.90908938,1.43182334 C3.16071592,0.582583769 3.94095214,0 4.82668561,0 Z"></path>
                    </svg>
                </div><span></span>
                </div>
            </div></a>
            <input type="submit" class="btn" value="&#68;ownload" />
          </div>
            <div class="txt-wrapper">
                <div class="edit-window">
                    <div class="window-border">
                    <span class="close"></span>
                    <span class="minimize"></span>
                    <span class="maximize"></span>
                    </div>
                    <div class="input-area">
                        <input type="text" class="textarea" name="textIn" maxlength="15" onkeyup="chkCharCode(event)" autofocus>
                    </div>
                </div>
            </div>
        </form>
    </div>
          
      <div class="footer">
        <iframe width="100%" height="800vh" src="https://www.youtube.com/embed/cxZFUCAwrEM?autoplay=1&loop=1&autopause=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <div class="subscribe-box">
          <a href="https://twitter.com/BANDLUCY_mystic" target="_blank"><img class="twitter" src="{{url_for('static', path='/twitter-brands.svg')}}"></a>
          <a href="https://www.youtube.com/channel/UC23OtuIrtEy_M1vYgTuCJcA" target="_blank"><img class="youtube" src="{{url_for('static', path='/youtube-brands.svg')}}"></a>
          <a href="mailto:rkive.cloud@gmail.com" target="_blank"><img class="email" src="{{url_for('static', path='/envelope-solid.svg')}}"></a>
        </div>
      </div>
  </body>
</html>
